# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: autofix.ci
on:
  push: { branches: ["master"] }
  pull_request:
  workflow_call:
permissions: { contents: read }
jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install-uv
      - uses: taiki-e/install-action@just
      - uses: ./.github/actions/install-dprint
      - name: install shfmt
        run: sudo apt-get install -y shfmt >/dev/null 2>&1

      - run: uvx ruff check --fix-only # ruff autofix
      - run: dprint config update
      - run: dprint fmt --allow-no-files --diff --excludes ".github"
      - run: just docs

      - uses: autofix-ci/action@v1
